---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import KeepTrackSection from '../components/KeepTrackSection.astro';
import AccessClipboardAnywhere from '../components/AccessClipboardAnywhere.astro';
import SuperchargeWorkflow from '../components/SuperchargeWorkflow.astro';
import Logos from '../components/Logos.astro';
import Clipboard from '../components/Clipboard.astro';
---

<Layout title='Frontend Mentor | Clipboard landing page'>
	<main>
		<Banner />
		<KeepTrackSection />
		<AccessClipboardAnywhere />
		<SuperchargeWorkflow />
		<Logos />
		<Clipboard />
	</main>
</Layout>
<style>
	main {
		padding: 0 20px;
	}
</style>
