<div class='logos'>
    <img src='/images/logo-google.png' alt='google logo' />
    <img src='/images/logo-ibm.png' alt='ibm logo' />
    <img src='/images/logo-microsoft.png' alt='microsoft logo' />
    <img src='/images/logo-hp.png' alt='hp logo' />
    <img src='/images/logo-vector-graphics.png' alt='vector graphics logo' />
</div>
<style>
    .logos {
        margin: 200px auto;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    img {
        width: 180px;
    }

    @media (max-width:991px) {
        .logos {
            flex-direction: column;
            margin: 100px 0;
        }
    }
</style>
