---
const { title, text, mainTitle } = Astro.props;
---

<section class='text-information'>
    {mainTitle ? <h1>{title}</h1> : <h2>{title}</h2>}
    <p class={!mainTitle ? 'small-p' : ''}>{text}</p>
</section>
<style>
    .text-information {
        max-width: 800px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 10px;
        color: var(--grayish);
    }

    h2 {
        font-size: 38px;
        margin-bottom: 5px;
        color: var(--grayish);
    }

    p {
        font-size: 20px;
        color: var(--grayishBlue);
        line-height: 30px;
    }

    .small-p {
        font-size: 18px;
    }
</style>
